<hr>	
<div class="row">
	<div class="col-md-2">
	<div class="https://www.youtube.com/watch?v=oCIJqtOqkC8&list=PLjYn2orKlXao0Md4v8fdI1jtU_qiZbOSM&index=1
	">
		
	
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_student' %}">Add New Student</a>
</div>
			<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="admin/students/student/import/">Add Students in Bulk</a>
<!-- 			<table class="table table-sm">
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_student' %}">Add New Student</a>		<tr>
					<th></th>
					<th>Customer</th>
					<th>Orders</th>
				</tr>

			</table>
http://127.0.0.1:8000/admin/students/student/import/ -->		
</div>
	</div>


	</div>

</div>
